<ion-content [fullscreen]="true">
  <div class="ingresar" >
    <p>Registrarse</p>
  </div>
  <div class="contenido">
    <div class="formulario">
      <h5>Welcome to Answers</h5>
      <p>Login to your account</p>
      <div class="form">
        <div class="items">
          <ion-item>
            <ion-input placeholder="User" [(ngModel)]="user.username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input  placeholder="Password" type="password" [(ngModel)]="user.password"></ion-input>
          </ion-item>
          <ion-button (click)="login()">Ingresar</ion-button>
          <p>Forgot Your password?</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>